<ion-content>
    <div class="collection-title">
        <div class="collection">
            <div class="collection-titl"> ¡Buenas noches!</div>

            <div class="horizontal">
                <ion-buttons slot="end">
                    <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
                    <ion-icon slot="icon-only" name="repeat-outline"></ion-icon>
                    <ion-icon slot="icon-only" name="settings-outline"></ion-icon>

                </ion-buttons>
            </div>
        </div>
    </div>
    <div class="collection">


        <div class="scroll-vertical">
            <div class="scroll-horizontal">
                <div class="scroll-vertical">
                    <div class="scroll-item">
                        <div class="media-card" routerLink="playlist">
                            <ion-row class="grid-no-padding ion-align-items-center">
                                <ion-col size="auto">
                                    <ion-thumbnail>
                                        <img src="assets/img/TusMG.png" alt="">
                                    </ion-thumbnail>
                                </ion-col>
                                <ion-col class="ion-padding-start">
                                    <strong>Tus me gusta  </strong>
                                </ion-col>
                            </ion-row>
                        </div>
                    </div>
                    <div class="scroll-item">
                        <div class="media-card" routerLink="playlist">
                            <ion-row class="grid-no-padding ion-align-items-center">
                                <ion-col size="auto">
                                    <ion-thumbnail>
                                        <img src="assets/img/Absordia.png" alt="">
                                    </ion-thumbnail>
                                </ion-col>
                                <ion-col class="ion-padding-start">
                                    <strong>Elizabeth Esparza  </strong>
                                </ion-col>
                            </ion-row>
                        </div>
                    </div>

                </div>
                <div class="scroll-vertical">
                    <div class="scroll-item">
                        <div class="media-card" routerLink="playlist">
                            <ion-row class="grid-no-padding ion-align-items-center">
                                <ion-col size="auto">
                                    <ion-thumbnail>
                                        <img src="assets/img/serbia_mix1.png" alt="">
                                    </ion-thumbnail>
                                </ion-col>
                                <ion-col class="ion-padding-start">
                                    <strong>Serbia   </strong>
                                </ion-col>
                            </ion-row>
                        </div>
                    </div>
                    <div class="scroll-item">
                        <div class="media-card" routerLink="playlist">
                            <ion-row class="grid-no-padding ion-align-items-center">
                                <ion-col size="auto">
                                    <ion-thumbnail>
                                        <img src="assets/img/BUBBLEGUMB.png" alt="">
                                    </ion-thumbnail>
                                </ion-col>
                                <ion-col class="ion-padding-start">
                                    <strong>lilbubblegumb  </strong>
                                </ion-col>
                            </ion-row>
                        </div>
                    </div>
                </div>
                <div class="scroll-vertical">
                    <div class="scroll-item">
                        <div class="media-card" routerLink="playlist">
                            <ion-row class="grid-no-padding ion-align-items-center">
                                <ion-col size="auto">
                                    <ion-thumbnail>
                                        <img src="assets/img/img_2.png" alt="">
                                    </ion-thumbnail>
                                </ion-col>
                                <ion-col class="ion-padding-start">
                                    <strong>Ariana Grande  </strong>
                                </ion-col>
                            </ion-row>
                        </div>
                    </div>
                    <div class="scroll-item">
                        <div class="media-card" routerLink="playlist">
                            <ion-row class="grid-no-padding ion-align-items-center">
                                <ion-col size="auto">
                                    <ion-thumbnail>
                                        <img src="assets/img/cartel1.png" alt="">
                                    </ion-thumbnail>
                                </ion-col>
                                <ion-col class="ion-padding-start">
                                    <strong>Cartel De Santa  </strong>
                                </ion-col>
                            </ion-row>
                        </div>
                    </div>
                </div>
            </div>
            <div class="scroll-horizontal">
                <div class="scroll-vertical">
                    <div class="scroll-item">
                        <div class="media-card" routerLink="playlist">
                            <ion-row class="grid-no-padding ion-align-items-center">
                                <ion-col size="auto">
                                    <ion-thumbnail>
                                        <img src="assets/img/img_1.png" alt="">
                                    </ion-thumbnail>
                                </ion-col>
                                <ion-col class="ion-padding-start">
                                    <strong>J Balvin </strong>
                                </ion-col>
                            </ion-row>
                        </div>
                    </div>
                    <div class="scroll-item">
                        <div class="media-card" routerLink="playlist">
                            <ion-row class="grid-no-padding ion-align-items-center">
                                <ion-col size="auto">
                                    <ion-thumbnail>
                                        <img src="assets/img/img_2.png" alt="">
                                    </ion-thumbnail>
                                </ion-col>
                                <ion-col class="ion-padding-start">
                                    <strong>Ariana Grande  </strong>
                                </ion-col>
                            </ion-row>
                        </div>
                    </div>

                </div>
                <div class="scroll-vertical">
                    <div class="scroll-item">
                        <div class="media-card" routerLink="playlist">
                            <ion-row class="grid-no-padding ion-align-items-center">
                                <ion-col size="auto">
                                    <ion-thumbnail>
                                        <img src="assets/img/joji.png" alt="">
                                    </ion-thumbnail>
                                </ion-col>
                                <ion-col class="ion-padding-start">
                                    <strong>Joji </strong>
                                </ion-col>
                            </ion-row>
                        </div>
                    </div>
                    <div class="scroll-item">
                        <div class="media-card" routerLink="playlist">
                            <ion-row class="grid-no-padding ion-align-items-center">
                                <ion-col size="auto">
                                    <ion-thumbnail>
                                        <img src="assets/img/system.png" alt="">
                                    </ion-thumbnail>
                                </ion-col>
                                <ion-col class="ion-padding-start">
                                    <strong>System Of T.. </strong>
                                </ion-col>
                            </ion-row>
                        </div>
                    </div>
                </div>
                <div class="scroll-vertical">
                    <div class="scroll-item">
                        <div class="media-card" routerLink="playlist">
                            <ion-row class="grid-no-padding ion-align-items-center">
                                <ion-col size="auto">
                                    <ion-thumbnail>
                                        <img src="assets/img/justice.png" alt="">
                                    </ion-thumbnail>
                                </ion-col>
                                <ion-col class="ion-padding-start">
                                    <strong>Justin Bieber  </strong>
                                </ion-col>
                            </ion-row>
                        </div>
                    </div>
                    <div class="scroll-item">
                        <div class="media-card" routerLink="playlist">
                            <ion-row class="grid-no-padding ion-align-items-center">
                                <ion-col size="auto">
                                    <ion-thumbnail>
                                        <img src="assets/img/zoe.png" alt="">
                                    </ion-thumbnail>
                                </ion-col>
                                <ion-col class="ion-padding-start">
                                    <strong>Zoé </strong>
                                </ion-col>
                            </ion-row>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="collection">
        <div class="collection-title">
            Recomendaciones
        </div>

        <div class="scroll-horizontal">
            <div class="scroll-item size-sm" routerLink="playlist">
                <div class="card-thumbnail size-sm" [style.backgroundImage]="'url(assets/img/serbia_mix' + '.png)'"></div>
                <div class="item-title">
                    <ion-icon name="shuffle-outline"></ion-icon>
                    Serbia MIX
                </div>
            </div>
            <div class="scroll-item size-sm" routerLink="playlist">
                <div class="card-thumbnail size-sm" [style.backgroundImage]="'url(assets/img/joji' + '.png)'"></div>
                <div class="item-title">
                    <ion-icon name="shuffle-outline"></ion-icon>
                    Joji MIX
                </div>
            </div>
            <div class="scroll-item size-sm" routerLink="playlist">
                <div class="card-thumbnail size-sm" [style.backgroundImage]="'url(assets/img/bunny' + '.png)'"></div>
                <div class="item-title">
                    <ion-icon name="shuffle-outline"></ion-icon>
                    Bad Bunny mix
                </div>
            </div>
            <div class="scroll-item size-sm" routerLink="playlist">
                <div class="card-thumbnail size-sm" [style.backgroundImage]="'url(assets/img/lov' + '.png)'"></div>
                <div class="item-title">
                    <ion-icon name="shuffle-outline"></ion-icon>
                    LOVV66 Mix
                </div>
            </div>
            <div class="scroll-item size-sm" routerLink="playlist">
                <div class="card-thumbnail size-sm" [style.backgroundImage]="'url(assets/img/soda' + '.png)'"></div>
                <div class="item-title">
                    <ion-icon name="shuffle-outline"></ion-icon>
                    SODALUV mix
                </div>
            </div>
            <div class="scroll-item size-sm" routerLink="playlist">
                <div class="card-thumbnail size-sm" [style.backgroundImage]="'url(assets/img/10' + '.png)'"></div>
                <div class="item-title">
                    <ion-icon name="shuffle-outline"></ion-icon>
                    10AGE mix
                </div>
            </div>
        </div>

    </div>

    <div class="collection">
        <div class="collection-title">
            Escuchado recientemente
        </div>

        <div class="scroll-horizontal">
            <div class="scroll-item size-md" routerLink="playlist">
                <div class="card-thumbnail size-auto" [style.backgroundImage]="'url(assets/img/TusMG' + '.png)'"></div>
                <div class="item-title">
                    <ion-icon name="shuffle-outline"></ion-icon>
                    Tus me gusta
                </div>
            </div>
            <div class="scroll-item size-md" routerLink="playlist">
                <div class="card-thumbnail size-auto" [style.backgroundImage]="'url(assets/img/ELWERO' + '.PNG)'"></div>
                <div class="item-title">
                    <ion-icon name="shuffle-outline"></ion-icon>
                    Ed Sheeran
                </div>
            </div>
            <div class="scroll-item size-md" routerLink="playlist">
                <div class="card-thumbnail size-auto" [style.backgroundImage]="'url(assets/img/justice' + '.png)'"></div>
                <div class="item-title">
                    <ion-icon name="shuffle-outline"></ion-icon>
                    Justice
                </div>
            </div>
            <div class="scroll-item size-md" routerLink="playlist">
                <div class="card-thumbnail size-auto" [style.backgroundImage]="'url(assets/img/dave.png)'"></div>
                <div class="item-title">
                    <ion-icon name="shuffle-outline"></ion-icon>
                    Dave East
                </div>
            </div>
            <div class="scroll-item size-md" routerLink="playlist">
                <div class="card-thumbnail size-auto" [style.backgroundImage]="'url(assets/img/top' + '.png)'"></div>
                <div class="item-title">
                    <ion-icon name="shuffle-outline"></ion-icon>
                    Top Hits
                </div>
            </div>
            <div class="scroll-item size-md" routerLink="playlist">
                <div class="card-thumbnail size-auto" [style.backgroundImage]="'url(assets/img/latin' + '.png)'"></div>
                <div class="item-title">
                    <ion-icon name="shuffle-outline"></ion-icon>
                    Latin Hit Mix
                </div>
            </div>
        </div>
    </div>

    <div class="collection">
        <div class="collection-title">
            Tus artistas favoritos
        </div>

        <div class="scroll-horizontal">
            <div class="scroll-item size-sm" routerLink="playlist">
                <div class="imgRedonda size-sm"> <img src="assets/img/bad1.png"></div>
                <div class="item-titl">
                    Bad Bunny
                </div>
            </div>
            <div class="scroll-item size-sm" routerLink="playlist">
                <div class="imgRedonda size-sm"> <img src="assets/img/cartel.png"></div>
                <div class="item-titl">
                    Cartel De S..
                </div>
            </div>
            <div class="scroll-item size-sm" routerLink="playlist">
                <div class="imgRedonda size-sm"> <img src="assets/img/harry.png"></div>
                <div class="item-titl">
                    Harry Styles
                </div>
            </div>
            <div class="scroll-item size-sm" routerLink="playlist">
                <div class="imgRedonda size-sm"> <img src="assets/img/lil.png"></div>
                <div class="item-titl">
                    Lilbubblegumb
                </div>
            </div>
            <div class="scroll-item size-sm" routerLink="playlist">
                <div class="imgRedonda size-sm"> <img src="assets/img/dualipa1.png"></div>
                <div class="item-titl">
                    Dua Lipa
                </div>
            </div>
            <div class="scroll-item size-sm" routerLink="playlist">
                <div class="imgRedonda size-sm"> <img src="assets/img/BALVIN.png"></div>
                <div class="item-titl">
                    J Balvin
                </div>
            </div>
            <div class="scroll-item size-sm" routerLink="playlist">
                <div class="imgRedonda size-sm"> <img src="assets/img/TW.png"></div>
                <div class="item-titl">
                    The Weeknd
                </div>
            </div>
        </div>
    </div>

    <div class="collection">
        <div class="collection-title">
            Basado en tu música
        </div>

        <div class="scroll-horizontal">
            <div class="scroll-item size-md" *ngFor="let i of [0,1,2,3,4]" routerLink="playlist">
                <div class="card-thumbnail size-auto" [style.backgroundImage]="'url(assets/img/img_' + (i%5 + 1) + '.png)'"></div>
                <div class="item-title">
                    <ion-icon name="shuffle-outline"></ion-icon>
                    Daily Mix {{i + 1}}
                </div>
            </div>
        </div>
    </div>
</ion-content>