<ion-header [translucent]="true" class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button color="medium" defaultHref="/tabs/tab1"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="degradado">
        <div class="album-cover">
            <ion-thumbnail>
                <img src="assets/img/joji1.png" alt="">
            </ion-thumbnail>
        </div>

        <div class="album-info">
            <div>
                <div class="titulo">
                    <h3> Nectar </h3>
                </div>
            </div>
            <div>
                Album ∙ 2020

            </div>
            <div>3h 53m</div>
        </div>

        <div class="buttons">
            <ion-row class="ion-align-items-center">
                <ion-col>
                    <ion-button fill="clear" color="medium">
                        <ion-icon slot="icon-only" size="small" name="heart-outline"></ion-icon>
                    </ion-button>
                    <ion-button fill="clear" color="medium">
                        <ion-icon slot="icon-only" size="small" name="ellipsis-horizontal"></ion-icon>
                    </ion-button>
                </ion-col>

                <ion-col size="auto">
                    <ion-fab-button color="primary" size="small">
                        <ion-icon name="play-sharp" size="small"></ion-icon>
                    </ion-fab-button>
                </ion-col>
            </ion-row>
        </div>
    </div>
    <div class="song-list">
        <ion-list>
            <ion-item lines="none">
                <ion-thumbnail slot="start">
                    <img src="{{'assets/img/joji1' + '.png'}}" alt="">
                </ion-thumbnail>
                <ion-label>
                    <h3>Ew </h3>
                    <p>Joji</p>
                </ion-label>
                <ion-icon slot="end" name="ellipsis-horizontal" size="small"></ion-icon>
            </ion-item>
            <ion-item lines="none">
                <ion-thumbnail slot="start">
                    <img src="{{'assets/img/joji1' + '.png'}}" alt="">
                </ion-thumbnail>
                <ion-label>
                    <h3>MODUS </h3>
                    <p>Joji</p>
                </ion-label>
                <ion-icon slot="end" name="ellipsis-horizontal" size="small"></ion-icon>
            </ion-item>
            <ion-item lines="none">
                <ion-thumbnail slot="start">
                    <img src="{{'assets/img/joji1' + '.png'}}" alt="">
                </ion-thumbnail>
                <ion-label>
                    <h3>Tick Tock </h3>
                    <p>Joji</p>
                </ion-label>
                <ion-icon slot="end" name="ellipsis-horizontal" size="small"></ion-icon>
            </ion-item>
            <ion-item lines="none">
                <ion-thumbnail slot="start">
                    <img src="{{'assets/img/joji1' + '.png'}}" alt="">
                </ion-thumbnail>
                <ion-label>
                    <h3>Daylight </h3>
                    <p>Joji, Diplo</p>
                </ion-label>
                <ion-icon slot="end" name="ellipsis-horizontal" size="small"></ion-icon>
            </ion-item>
            <ion-item lines="none">
                <ion-thumbnail slot="start">
                    <img src="{{'assets/img/joji1' + '.png'}}" alt="">
                </ion-thumbnail>
                <ion-label>
                    <h3>Gimme Love </h3>
                    <p>Joji</p>
                </ion-label>
                <ion-icon slot="end" name="ellipsis-horizontal" size="small"></ion-icon>
            </ion-item>
            <ion-item lines="none">
                <ion-thumbnail slot="start">
                    <img src="{{'assets/img/joji1' + '.png'}}" alt="">
                </ion-thumbnail>
                <ion-label>
                    <h3>Run </h3>
                    <p>Joji</p>
                </ion-label>
                <ion-icon slot="end" name="ellipsis-horizontal" size="small"></ion-icon>
            </ion-item>
            <ion-item lines="none">
                <ion-thumbnail slot="start">
                    <img src="{{'assets/img/joji1' + '.png'}}" alt="">
                </ion-thumbnail>
                <ion-label>
                    <h3>High Hopes(feat. Omar Apollo)</h3>
                    <p>Joji, Omar Apollo</p>
                </ion-label>
                <ion-icon slot="end" name="ellipsis-horizontal" size="small"></ion-icon>
            </ion-item>
            <ion-item lines="none">
                <ion-thumbnail slot="start">
                    <img src="{{'assets/img/joji1' + '.png'}}" alt="">
                </ion-thumbnail>
                <ion-label>
                    <h3>MODUS </h3>
                    <p>Joji</p>
                </ion-label>
                <ion-icon slot="end" name="ellipsis-horizontal" size="small"></ion-icon>
            </ion-item>
            <ion-item lines="none">
                <ion-thumbnail slot="start">
                    <img src="{{'assets/img/joji1' + '.png'}}" alt="">
                </ion-thumbnail>
                <ion-label>
                    <h3>MODUS </h3>
                    <p>Joji</p>
                </ion-label>
                <ion-icon slot="end" name="ellipsis-horizontal" size="small"></ion-icon>
            </ion-item>
        </ion-list>
    </div>


</ion-content>